#{extends 'main.html' /}
#{set title:'Labyrinth jForum' /}
<div style="width: 900px; margin-left: auto; margin-right: auto; text-align: center;" id="center">
    <h1><a style="text-decoration: none; color: red; padding: 20px; text-align: center; border: #ffffff solid;" href="/submit">submit a question</a></h1>
    <br>
    <h2><a style="text-decoration: none; color: red; padding: 15px; text-align: center; border: #ffffff solid;" href="/user">register for Forum</a></h2>
	<br>
	<h2><a style="text-decoration: none; color: red; padding: 15px; text-align: center; border: #ffffff solid;" href="/tutorial">tutorial</a></h2>
</div>
