#{extends 'main.html' /}
#{set title:'Labyrinth Forum -- Tutorial' /}
<div id="center">
    <h3>Curious as to how this new-fangled <i>Labyrinth</i> Forum works?</h3>
    <p>
        Then you're in luck! This tutorial will guide you through signing up and answering questions
    </p>
    <ol>
        <li>
            The first step is to make sure that you're registered for <i>Labyrinth</i>'s New Forum by registering at the following link
        </li>
        <li>
            <a style="text-decoration: none; color:#D88C00;" href="/user">Registration Link</a>
        </li>
        <li>
            Fill in the form with your full name as you'd like to see it appear in Labyrinth, and make sure you select the proper grade, or we won't be able to
            verify you as a student
        </li>
        <li>
            That's it! If everything happens properly, you'll have been added as a user and be redirected to the Question Submission Page. Just start typing the name of
            whoever you'd like to send your question to, and if they've signed up for Labyrinth, it'll appear in the dropdown box. If you have any questions or concerns, please
            email us at labyrinth@boltoncomputing.com
        </li>
    </ol>
</div>
