#{extends 'main.html' /}
#{set title:'Labyrinth Forum -- Tutorial' /}
<div id="center">
    <h3>Curious as to how this new-fangled <i>Labyrinth</i> Forum works?</h3>
    <p>
        Then you're in luck! This tutorial will guide you through signing up and answering questions
    </p>
    <ol>
        <li>
            You'll already have been registered with Labyrinth following our latest release, so all you have to do is start writing!
        </li>
        <li>
            Go to the <a href="@{Application.submit()}">submissions page</a> and just start typing the name of whoever you'd like to send your question to, and if they've signed up for Labyrinth, it'll appear in the dropdown box.
            If you have any questions or concerns, email us at labyrinth@boltoncomputing.com
        </li>
    </ol>
</div>
