#{extends 'main.html' /}
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{if question.approval == 1}
#{question question:question, as:'full' /}
#{if question.answers.size() == 0}
#{if !flash.success }
<h3>Answer the question!</h3>
#{form @Application.answerQuestion(question.id)}
	#{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
	<p>
        <label for="content">Your answer: </label>
        <textarea name="content" id="content">${params.content}</textarea>
    </p>
    <p>
        <input type="submit" value="Submit your answer" />
    </p>
#{/form}
#{/if}
#{/if}
#{/if}
#{else (!flash.success && question.approval == 0)}
<p class="error">This question hasn't been approved by its submitter yet. If you've just submitted a question, check your email to find the approval link</p>
#{/else}