#{extends 'main.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.6.custom.css'}" />

#{/set}
#{set 'moreScripts'}

#{/set}
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{if flash.error}
<p class="error">
    ${flash.error}
</p>
#{/if}
<h3>Submit a question</h3>
#{form @Application.submit()}
#{ifErrors}
<p class="error">
    All fields are required!
</p>
#{/ifErrors}
<div class="ui-widget">

<p>
    <label for="author">
        Your full name: 
    </label>
    <input type="text" name="author" id="author" value="${params.author}"/>
</p>
<p>
    <label for="receiver">
        Your recipient's full name: 
    </label>
    <input type="text" name="receiver" id="receiver" value="${params.receiver}"/>
</p>
</div>
<p>
    <label for="content">
        Your question: 
    </label>
    <textarea name="content" id="content">${params.content}</textarea>
</p>
<p>
    <input type="submit" value="Submit your question" />
</p>#{/form}
<script>
    $(function(){
        $( "#author" ).autocomplete({
            minLength: 1,
            source: "@{UserController.getUsers()}",
						delay: 0,            
        });
        $( "#receiver" ).autocomplete({
            minLength: 1,
						source: "@{UserController.getUsers()}",
        });
    });
</script>